*{
    font-family: 'Courier New', monospace;}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #781c9a7c;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  }
  
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #1D1D1D;
    transition: 0.3s ease-in-out;
  }
  
  #navbar li a:hover {
    color: #ffffff;
  }
  
  #navbar li a.active-link {
    color: #feffff;
    /* Add any other styles for the active link */
  
    /* Underline effect */
    position: relative;
  }
  
  #navbar li a.active-link::after {
    content: "";
    width: 100%; /* Set the width to 100% to span the entire link text */
    height: 5px;
    background: #4d2c5e;
    position: absolute;
    bottom: -10px;
    left: 0; 
    border-radius: 50px;
  }
  
  #mobile {
    display: none;
  }
  
  #mobile i {
    color: #fff;
    align-items: center;
  }
  
  @media screen and (max-width: 769px) {
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: fixed;
      top: 90px;
      right: -300px;
      width: 300px;
      height: 100vh;
      background: #781c9a7c;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 40px 0 0 10px;
    }
  
    #navbar.active {
      right: 0px;
    }
  
    #mobile {
      display: block;
    }
  
    #mobile i {
      font-size: 24px;
      cursor: pointer;
    }
  
    /* Increase gap between listed links */
    #navbar li {
      padding: 10px 20px; /* You can adjust the padding as needed */
    }
  }
  /* last_update 2 */